{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%"
          ]
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        ["babili", {
          "mangle": false,
          "removeConsole": true,
          "removeDebugger": true
        }]
      ]
    }
  }
}